body{
    background: #fbebe9;   
}

h1{
    font-family: "Unbounded", sans-serif;
}

.avatar{
    border-radius: 50%;
    width:clamp(120px, 15vw, 200px); /* 15vw = 180px*/
    height:auto; 
    display:block;
}

.logo{
    width: 52px;
    height: 52px;
}

.navbar1 {
    font-weight: bold; 
    color:#ffffff;
}

.table-dark{
    --bs-table-bg: #d9230f;
}

